@page
@model ReBuild17bang.Pages.Register.IndexModel
@{
    ViewData["Title"] = "Index";
}
  <style>
      label{display:block}
      /**{border:1px dashed}*/
  </style>
    <main class="container" >
        <h1>注册</h1>
        <div class="row">
            <article class="col-5">
                <form method="post">
                    <div>
                        <label>邀请人：（* 必填，没有邀请人）</label>
                        <input type="text" name="InviterName" />
                    </div>
                    <div>
                        <label>邀请码：（* 必填）</label>
                        <input type="text" name="InviterVerificationCode" />
                    </div>
                    <div>
                        <label>用户名：（* 必填）</label>
                        <input type="text" name="UserName" />
                        @*<input asp-for="@Model.Register.Name" />
                        <span asp-validation-for="@Model.Register.Name"></span>*@
                    </div>
                    <div>
                        <label>密码：（* 必填）</label>
                        <input type="text" name="Password" />
                        @*<input asp-for="@Model.Register.Password" />
                        <span asp-validation-for="@Model.Register.Password"></span>*@
                    </div>
                    <div>
                        <label>验证密码：（* 必填）</label>
                        <input type="text" name="ConfirmPassword" />
                        @*<input asp-for="@Model.Register.ConfirmPassword" />
                        <span asp-validation-for="@Model.Register.ConfirmPassword"></span>*@
                    </div>
                    <div>
                        <label>验证码：（* 必填） </label>
                        <div>
                            <input type="text" />
                            <img src="~/Image/一起帮logo.jpg" asp-append-version="true" />
                        </div>
                    </div>
                    <button type="submit">提交</button>
                    <button type="reset">重置</button>
                    <a asp-page="/Log/On">登录</a>
                </form>

            </article>
            <aside class="col-5 offset-2">
                <h3>说明</h3>
                <div>我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</div>
                <div>现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</div>
                <div> 当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</div>
                <div> 公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</div>
                <div>赶快加入我们，赚取帮帮币吧！</div>
                <div>了解更多</div>
            </aside>
            @*<div class="col-3">overflow</div>*@
        </div>
    </main>

