@page
@model _17bang.Pages.ProblemModel.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    @*<div>
        <small>@Model.problem.PublishTime</small>
        <small><a href="/ProblemModel/@Model.problem.Author.Id">@Model.problem.Author.Name</a></small>
    </div>
    <h3><a href="/ProblemModel/@Model.problem.Id">@Model.problem.Title</a></h3>
    <p>@Model.problem.Abstact</p>*@
    <div>
        <small>
            <input asp-for="@Model.problem.PublishTime@*.ToString("yyyy年mm月dd日 hh时mm分")*@" />
            <span asp-validation-for="@Model.problem.PublishTime "></span>
            <input asp-for="@Model.problem.Author.Name" />
            <span asp-validation-for="@Model.problem.Author.Name"></span>
        </small>
    </div>
    <h3>
        <input asp-for="@Model.problem.Title" />
        <span asp-validation-for="@Model.problem.Title"></span>
    </h3>
    <p>
        <input asp-for="@Model.problem.Abstact" />
        <span asp-validation-for="@Model.problem.Abstact"></span>
    </p>
    <button>提交</button>
</form>
