@page
@model _17bang.Pages.ProblemModel.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    @*<div>
            <small>@Model.problem.PublishTime</small>
            <small><a href="/ProblemModel/@Model.problem.Author.Id">@Model.problem.Author.Name</a></small>
        </div>
        <h3><a href="/ProblemModel/@Model.problem.Id">@Model.problem.Title</a></h3>
        <p>@Model.problem.Abstact</p>*@
    <div>
        <small>
            <input asp-for="@Model.Problem.PublishTime@*.ToString("yyyy年mm月dd日 hh时mm分")*@" />
            <span asp-validation-for="@Model.Problem.PublishTime "></span>
            <input asp-for="@Model.Problem.Author.Name" />
            <span asp-validation-for="@Model.Problem.Author.Name"></span>
        </small>
    </div>
    <h3>
        <input asp-for="@Model.Problem.Title" />
        <span asp-validation-for="@Model.Problem.Title"></span>
    </h3>
    <p>
        <input asp-for="@Model.Problem.Description" />
        <span asp-validation-for="@Model.Problem.Description"></span>
    </p>
    <div>
        <div><label>悬赏  帮帮币 ：（现有 枚  ）</label></div>
        <input asp-for="@Model.Problem.RewardHelpMoneyCount" />
        <span asp-validation-for="@Model.Problem.RewardHelpMoneyCount"></span>
    </div>
    <button type="submit">发布</button>
    <button type="submit">保存基本文稿</button>
</form>
