@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<DateTime asp-showicon="true",asp-only="date" >@DateTime.Now</DateTime>*@
<datetime>@DateTime.Now</datetime>
<br />
<datetime asp-showicon="true">@DateTime.Now</datetime>
<br />
<datetime asp-only="date">@DateTime.Now</datetime>
<br />
<form method="post">
    <button>提交</button>
</form>
<vc:_keywords  ></vc:_keywords>
<partial name="_Training"  for="@Model.User" />