@model ViewModel.Password.ForgetModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset</title>
</head>
<body>
    <main>
        @using (Html.BeginForm())
        {
            <div>
                <label>邮箱：</label><br />
                @Html.TextBoxFor(m => m.EmailAddress)
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
            <div>
                <label>通过用户名查找Email：</label><br />
                @Html.TextBoxFor(m => m.EmailAddress)
            </div>
            <div>
                <label>验证码：</label><br />
                @Html.TextBoxFor(m => m.VerificationCode)
                @Html.ValidationMessageFor(m => m.VerificationCode)
            </div>
        }
    </main>
    <div>
    </div>
</body>
</html>