@model ViewModel.Password.ForgetModel
@{
    //Layout = null;
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset</title>
</head>
<body>
    <main>
        @using (Html.BeginForm())
        {
            <div>
                <label>邮箱：</label><br />
                @Html.TextBoxFor(m => m.EmailAddress)
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
            <div>
                <label>通过用户名查找Email：</label><br />
                @Html.TextBoxFor(m => m.UserName)
            </div>
            <div>
                <label>验证码：</label><br />
                @Html.TextBoxFor(m => m.VerificationCode)
                @Html.ValidationMessageFor(m => m.VerificationCode)
                <img src="~/Shared/Captcha?v=@Guid.NewGuid()" />
            </div>
            <button type="submit">提交</button>
            <button type="reset">重置</button>
        }
    </main>
    <div>
    </div>
</body>
</html>