@model ViewModel.Password.ResetModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset</title>
</head>
<body>
    <main>
        @using (Html.BeginForm())
        {
            <div>
                <label>新密码：</label><br />
                @Html.PasswordFor(m => m.UpdatePassword)
                @Html.ValidationMessageFor(m => m.UpdatePassword)
            </div>
            <div>
                <label>确认密码：</label><br />
                @Html.PasswordFor(m => m.ComfirmPassword)
                @Html.ValidationMessageFor(m => m.ComfirmPassword)
            </div>
            <div>
                <label>验证码：</label><br />
                @Html.TextBoxFor(m => m.VerificationCode)
                @Html.ValidationMessageFor(m => m.VerificationCode)
                <img src="~/Shared/Captcha?v=@Guid.NewGuid()" />
            </div>
            <button type="submit">提交</button>
            <button type="reset">重置</button>
        }
    </main>
    <div>
    </div>
</body>
</html>
