@model ViewModel.Register.UserModel
@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <h1>数据库连接:@ViewBag.connectionString</h1>
        @Html.AntiForgeryToken()
        <div>
            <label>邀请人：</label> <br />
            @Html.TextBoxFor(m => m.InviterName)
            @Html.ValidationMessageFor(m => m.InviterName)
        </div>
        <div>
            <label>邀请码：</label> <br />
            @Html.TextBoxFor(m => m.InvitingCode)
            @Html.ValidationMessageFor(m => m.InvitingCode)
        </div>
        <div>
            <label>用户名：</label> <br />
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div>
            <label>密码：</label> <br />
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div>
            <label>确认密码：</label> <br />
            @Html.PasswordFor(m => m.ComfirmPassword)
            @Html.ValidationMessageFor(m => m.ComfirmPassword)
        </div>
        <div>
            <label>验证码：</label><br />
            @Html.TextBoxFor(m=>m.Captcha)
            @Html.ValidationMessageFor(m=>m.Captcha)
            <img src="~/Shared/Captcha" />   <a href="">看不清楚？</a>
        </div>
        <button type="submit">提交</button>
        <button type="reset">重置</button>
        <a href="~/Log/On">登录</a>

    }
    <div>
    </div>
    <a href="~/Image/一起帮logo.jpg">一起帮logo</a>   @*href的复习   链接图片*@
    <a href="~/Image/源栈上课啦.jpg" download="源栈上课啦">源栈上课啦</a>   @*下载图片  download后面的为下载文件名字*@
    <a href="~/Shared/Captcha">shared文件</a>   @*绝对路径的controller 里面action  返回文件的下载*@
</body>
</html>
